rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Rules untuk data User
    match /users/{userId} {
      // User hanya bisa baca/tulis data mereka sendiri
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Sub-koleksi juga diproteksi
      match /habits/{habitId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      match /bookmarks/{bookmarkId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    // Rules untuk Konten Publik (Feed, Quotes, Metadata)
    match /feeds/{feedId} {
      allow read: if request.auth != null; // Cuma user login yang bisa baca
      allow write: if false; // Cuma bisa lewat console/admin
    }
    
    match /quotes/{quoteId} {
      allow read: if true;
      allow write: if false;
    }
    
    match /metadata/{docId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
